.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
}

.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  background: whitesmoke;
  border-radius: 0.5rem;
  border: 2px solid #6415FF;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}
button.active {
  background: #6415FF;
  color: white;
}