.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
}